.sql-actions {
    position: relative;
    display: inline-block;
    width: 4rem;
    font-size: 0.8rem;
}

.sql-actions details {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.25rem;
    border: 1px solid var(--color-blue);
    border-radius: 0.125rem;
    cursor: default;
    white-space: nowrap;
    color: var(--color-blue);
}
.sql-actions details:hover {
    background: var(--color-blue);
    color: #fff;
}

.sql-actions details[open] {
    position: absolute;
    top: -1.1rem;
    left: 0;
    height: auto;
    z-index: 2;
    border: 1px solid var(--color-blue);
    border-radius: 0.125rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding-bottom: 0.5rem;
    color: var(--color-blue);
}

.sql-actions details > summary {
    outline: none;
    padding: 0.125em 0.5rem;
    list-style: none;
}
.sql-actions details > summary::-webkit-details-marker {
    display: none;
}
.sql-actions details > summary::after {
    content: " ⤵";
}

.sql-actions button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    cursor: pointer;
    text-align: left;
    color: var(--color-blue);
    font-size: 0.8rem;
}
.sql-actions button:hover {
    background: var(--color-blue);
    color: #fff;
}

@media only screen and (min-width: 40rem) {
    .sql-actions details {
        border: none;
    }
}
