body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

pre {
    padding: 0.5rem 1rem;
    font-size: 1em;
    background: #f5f5f5;
}

pre > code {
    display: inline;
    border-left: none;
    border-right: none;
}

code {
    font-size: 0.85em;
}

figcaption {
    text-align: center;
}

table {
    background: none !important;
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}
table td,
table th {
    background: none !important;
}

table td:first-child,
table th:first-child {
    padding-left: 0.75em;
}
table td:last-child,
table th:last-child {
    padding-right: 0.75em;
}

.logo {
    display: inline-block;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    height: auto;
}

.bordered {
    border: 1px solid #aaa;
    padding: 1rem 2rem;
}
