.button {
    border: 1px solid var(--color-blue);
    border-radius: 0.25rem;
    background: transparent;
    padding: 0.5rem;
    color: var(--color-blue);
    cursor: pointer;
}
.button:hover {
    background: var(--color-blue);
    color: var(--color-white);
}
.button:disabled {
    opacity: 0.5;
    cursor: default;
}
.button:disabled:hover {
    background: transparent;
    color: var(--color-blue);
}

.button--small {
    border-radius: 0.125rem;
    padding: 0.125rem 0.5rem;
    font-size: 80%;
}

.button-link {
    display: inline;
    border: none;
    background: inherit;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-blue);
    font-size: 1rem;
}
