.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0.75rem 1rem;
}

.header h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.header h1 > * {
    vertical-align: middle;
}

.header-logo {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.125rem;
    text-decoration: none !important;
}
.header-logo img {
    height: auto;
    width: 1.5rem;
}

.db-name {
    display: inline-block;
    outline: none;
    border: 1px solid transparent;
    padding: 0.25rem;
    font-weight: bold;
}
.db-name.ready:hover {
    cursor: pointer;
}
.db-name.ready:focus {
    border-color: var(--color-dark-gray);
}
.db-name.ready::after {
    content: " ✎";
}
.db-name::after {
    content: "loading...";
}

@media only screen and (min-width: 40rem) {
    .header {
        padding: 0 0 0.5rem 0;
    }
}
