.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0.75rem 1rem;
}

.header h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.header .logo {
    text-decoration: none !important;
}

.db-name {
    padding: 0.25rem;
    font-weight: bold;
}
.db-name:hover {
    cursor: pointer;
}

@media only screen and (min-width: 40rem) {
    .header {
        padding: 0 0 0.5rem 0;
    }
}
