:root {
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
        Courier, monospace;
    --color-blue: #008bf5;
    --color-dark-gray: #aaa;
    --color-gray: #ccc;
    --color-red: red;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0.5rem 1rem;
    font-family: var(--font-sans);
}

.grid {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 0.5rem;
}
.editor-section {
    flex-grow: 1;
    padding-bottom: 0.5rem;
}
.result-section {
    flex-grow: 1;
    padding-bottom: 0.5rem;
}

.header h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.toolbar {
    margin-top: 0.5rem;
}
.toolbar > * {
    margin-left: 0.25rem;
}
.toolbar .button-small {
    height: 1.5rem;
    line-height: 1.25rem;
}
.toolbar .button-help {
    font-weight: bold;
}
.toolbar a,
.toolbar label {
    display: inline-block;
    height: 1.5rem;
    text-decoration: none;
}
.toolbar input[type="file"] {
    display: none;
}

.sql-actions {
    position: relative;
    font-size: 0.8rem;
}
.sql-actions details {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.25rem;
    border: 1px solid var(--color-blue);
    border-radius: 0.125rem;
    cursor: default;
    white-space: nowrap;
    color: var(--color-blue);
}
.sql-actions details:hover {
    background: var(--color-blue);
    color: #fff;
}
.sql-actions details[open] {
    position: absolute;
    height: auto;
    z-index: 2;
    border: 1px solid var(--color-blue);
    border-radius: 0.125rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding-bottom: 0.5rem;
    color: var(--color-blue);
}
.sql-actions details > summary {
    outline: none;
    padding: 0.125em 0.5rem;
}
.sql-actions details > summary::after {
    content: " ⤵";
}
.sql-actions button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 0.25rem 2rem 0.25rem 0.5rem;
    cursor: pointer;
    text-align: left;
    color: var(--color-blue);
    font-size: 0.8rem;
}
.sql-actions button:hover {
    background: var(--color-blue);
    color: #fff;
}

.sql-editor {
    position: relative;
    display: block;
    resize: vertical;
    width: 100%;
    min-height: 5rem;
    border: 1px solid var(--color-gray);
    padding: 0.5rem;
    white-space: pre-wrap;
    font-family: var(--font-monospace);
}
.sql-editor:focus {
    outline: none;
}

.sql-status {
    display: block;
    margin-bottom: 0.5rem;
}
.sql-status--success::before {
    display: inline-block;
    width: 1rem;
    content: "✓";
}
.sql-status--error::before {
    display: inline-block;
    width: 1rem;
    color: var(--color-red);
    content: "✕";
}

.sql-result {
    display: block;
}
.sql-result table {
    width: 100%;
    border: 1px solid var(--color-gray);
    border-collapse: collapse;
    font-family: var(--font-monospace);
    /* font-size: 90%; */
}
.sql-result table th {
    border-bottom: 1px solid var(--color-gray);
    padding: 0.25rem 0.5rem;
    text-align: left;
}
.sql-result table td {
    padding: 0.25rem 0.5rem;
}

.button-small {
    border: 1px solid var(--color-blue);
    border-radius: 0.125rem;
    background: #fff;
    padding: 0.125em 0.5rem;
    color: var(--color-blue);
    cursor: pointer;
    font-size: 80%;
}
.button-small:hover {
    background: var(--color-blue);
    color: #fff;
}
.button-small:disabled {
    opacity: 0.5;
    cursor: default;
}
.button-small:disabled:hover {
    background: #fff;
    color: #008bf5;
}

details > summary {
    list-style: none;
}
summary::-webkit-details-marker {
    display: none;
}

.link-img {
    text-decoration: none !important;
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 40rem) {
    .hidden-mobile {
        display: none !important;
    }
}

@media only screen and (min-width: 40rem) {
    .toolbar {
        margin-top: 0;
        margin-left: 1rem;
    }
    .toolbar .button-small {
        border: none;
    }
    .sql-actions details {
        border: none;
    }

    .sql-editor::after {
        position: absolute;
        right: -1px;
        bottom: -1px;
        display: inline-block;
        border: 1px solid var(--color-gray);
        padding: 0.125rem 0.25rem;
        color: var(--color-dark-gray);
        font-size: 80%;
        content: "Ctrl+Enter";
    }

    .sql-result table {
        width: auto;
    }

    .hidden-desktop {
        display: none !important;
    }
}
